:root {
  --main-bg-color: #222;
  --main-border-color: #f6982d;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}

#navbar {
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  border-bottom: 1px solid var(--main-border-color);
  .list {
    display: flex;
    list-style: none;
    li {
      margin-left: 1em;
      a {
        text-decoration: none;
        transition: 0.5s;
        font-weight: bold;
        &:hover {
          color: var(--main-border-color);
        }
      }
    }
  }
}

.container {
  min-height: 60vh;
  padding: 2em;
}

footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--main-border-color);
  span {
    font-weight: bold;
    color: var(--main-border-color);
  }
}

// login e register
.auth-container {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

// messages
.message {
  padding: 1em;
  color: #004085;
  background-color: #ccefff;
  border: 1px solid #b8daff;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 60%;
}

// form

h1,
h2 {
  margin-bottom: 1em;
  color: #fff;
  border-left: 4px solid var(--main-border-color);
  padding: 0.3em;
  width: 100%;
}
a {
  color: var(--main-border-color);
}
.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  & label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  input,
  textarea {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid var(--main-border-color);
  }
}
input[type="submit"],
.btn {
  background-color: transparent;
  color: var(--main-border-color);
  border: 2px solid var(--main-border-color);
  padding: 0.5em 1.2em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    transition: 0.5s;
    background-color: var(--main-border-color);
    color: #fff;
  }
}

//boot
.mt-4 {
  margin-top: 16px;
}

//thoughts
.thoughts-form-container {
  a {
    &:hover {
      color: #fff;
    }
  }
}

// list
.list {
  li {
    list-style-type: none;
    border-bottom: 1px solid var(--main-border-color);
    padding: 1rem 0;
    display: flex;
    .label {
      flex-grow: 1;
    }
    .actions {
      form {
        input {
          margin-left: 16px;
        }
      }
    }
    .author {
      color: yellow;
      margin-left: 8px;
    }
  }
}

// HOME
.home-header {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;

  h1 {
    margin-bottom: 1em;
  }

  span {
    color: var(--main-border-color);
  }

  p,
  form {
    margin-bottom: 1.2em;
  }

  input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0.5em;
    &[type="text"] {
      width: 60%;
    }
    ::placeholder {
      color: #fff;
    }
  }
}

.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto 1em;

  form {
    margin: 0;
    & button {
      margin-bottom: 0;
      border: none;
      cursor: pointer;
      :hover {
        color: var(--main-border-color);
      }
    }
  }

  i,
  a {
    margin: 0 7px;
  }
}
