<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Mostrar dados do usuário através do input</h1>
    <form action="/users/save" method="post">
        <div>
            <input type="text" name="name" placeholder="Digite um nome"></input>
        </div>
        <div>
            <input type="text" name="age" placeholder="Digite uma idade"></input>
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
  </body>
</html>
