* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

ul {
  padding: 16px;
  border: 1px dotted black;
}

ul li {
  padding: 16px;
  margin: 4px 0;
  list-style-type: none;
}

.form {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.form-checkbox {
  flex-direction: row;
}
.form-checkbox input {
  margin-right: 10px;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.form-control input {
  padding: 5px;
}
