<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Bem vindo</h1>
    <h3>Servicos:</h3>
    <ul>
      <li><a href="/service/manual"> Manual</a></li>
      <li><a href="/service/automatic"> Automatic</a></li>
    </ul>
  </body>
</html>
