<div class="thoughts-form-container">
  <a href="/thoughts/dashboard">Voltar</a>
  <h1 class="mt-4">Criar um pensamento</h1>

  <form action="/thoughts/add" method="post">
    <div class="form-control mt-4">
      <label for="title">Pensamento:</label>
      <input
        type="text"
        name="title"
        placeholder="Digite o seu pensamento..."
      />
    </div>
    <input type="submit" value="Criar pensamento" />
  </form>

</div>