<div class="dashboard">
  <div class="title-container">
    <h2>dashboard</h2>
    <a href="/thoughts/add">Criar pensamentos</a>
  </div>
  <h3 class="mt-4">Seus pensamentos</h3>
  <ul class="list mt-4">
    {{#each thoughtsUser}}
      <li>{{this.title}}</li>
    {{/each}}
  </ul>
</div>