<h1>Todos os pensamentos</h1>
{{!-- {{toJSON plainUserThoughts}} --}}

<ul class="list mt-4">
  {{#each plainUserThoughts}}
    <li>{{this.title}}
      por
      <span class="author">- {{this.User.name}}</span></li>
  {{/each}}
</ul>